body {
    border: 5px solid lightgray;
}


#header-image {
    margin: 2% 15% 0 35%;
    height: 120px;
    width: 50%;
    padding: 0px;
}

header{
    height: 50px;
}

.container-1 {
    display: flex;
}

.box-1{
    flex:4;
    order:2;
    padding: 10px;
    margin-top: 100px;
    border-left: 2px solid lightgray;
}

.box-1 h2 {
    background-color: lightgray;
    border-bottom: 1px solid lightgray;
}

.box-2{
    flex:1;
    order:1;
    background-color: white;
    text-align: center;
}

.box-2 h1 {
    margin: 1px;
}

#profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 15%;
}

#address-icon {
    width: 50px;
    margin-top: 50px;
}

#email-icon {
    width: 40px;
    margin-top: 50px;
}
#phone-icon {
    width: 35px;
    margin-top: 50px;
}

#linkedin-icon {
    width: 30px;
    margin-top: 50px;
}

@media (max-width: 992px) {
   
    #profile-pic {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 10%;
    }
}

@media (max-width: 768px) {
   
    #profile-pic {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 2%;
        padding: 20px;
    }

}

@media (max-width: 576px) {
    
    #profile-pic {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 2%;
        padding: 20px;
    }

    #header-image {
        margin: 2% 15% 0 33%;
        height: 120px;
        width: 60%;
        padding: 0px;
    }

}