.container {
    border: 1px solid black;
}

.box1 {
    border: 1px solid blue;
    height: 600px;

}

.box2 {
    border: 1px solid pink;
    height: 500px;
}

.left {
    background-image: url(../images/contactflowersleft.jpg);
    background-size: 50px;
}

footer {
    border: 1px solid orange;
    height: 100px;
}