body{
    font-size:16px;
    background-image: url("/myPortfolio/images/blogbackground.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 0%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

header{
    font-size:18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: purple solid;
    padding-bottom: 5px;
    background-color: purple;
    text-align: right;
}

.has-border{
    color: lavenderblush;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

main{
    text-align: center;
    color: purple;
    font-weight: bold;
}

div{
    margin-top: 25px;
    margin-bottom: 50px;
}

article{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: purple;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 15px;
    background-color: lavender;
    border-radius: 5px;
    padding: 20px;
}

p:hover::first-letter{
    color: red;
}

a:hover{
    color:black;
}

footer{
    word-spacing: 10px;
    color: lavender;
    font-size: 15px;
    padding: 20px 0;
    background-color: thistle;
    text-align: center;
}