body {
    background-image: url(../images/redphone.jpg);
    background-size: 100%;
    background-repeat: norepeat;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 15%;
}

.box1 {
    justify-content: flex-end;
    padding-bottom: 0;
}

.box2 {
    padding-top: 0;
}

h1 {
    font-size: 50px;
    color: red;
}

p {
    font-size: 30px;
    font-weight: bold;
    padding-top: 0;
}